body{
    
    font-family: 'Oswald';
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('https://storage.googleapis.com/academia-geek-general-bucket/modulo-3/modulo_3_reto_3_1.png');
    background-size: cover;  
}
.btn{
background: #3498db;
  width: 180px;
  padding: 4px 0;
  border-radius: 25px;
  position:static;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.container{
    margin-top:50px; 
    margin-left:200px; 
    box-sizing: border-box;
    width: 30%; 
    border-radius: 25%;
    align-self: center;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    
}
img{
    width: 100%;
}
